<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sdjzu.parent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="com.yc.im.util.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sdjzu.parent.SpashAct"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.sdjzu.parent.LoginAct"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="edu.sdjzu.parent.ParentIndexAct"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="com.yc.im.boot.ChatFriendlistAct" >
        </activity>
        <activity
            android:name="edu.sdjzu.parent.ChatAct"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service android:name="edu.sdjzu.service.RemoteService" >
            <intent-filter>
                <action android:name="com.parent.service.backgourond" />
            </intent-filter>
        </service>

        <receiver android:name="edu.sdjzu.broadcast.NewChatInfoReceiver" >
            <intent-filter>
                <action android:name="parent.msg.receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name="edu.sdjzu.broadcast.NewKqInfoReceiver" >
            <intent-filter>
                <action android:name="com.parent.new.kq" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yc.jar.ServiceBroadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="chenshuwan" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>